//主体色
@primary-project: #3ca4fb;
.custom-warpper {
    background: white;
    position: relative;
    overflow-x: hidden;
    height: 100%;
    .iconfont {
        font-size: 12px;
    }
    .card-title {
        background-color: #eeeeee;
    }
    .header-top {
        height: 54px;
        .select-recover {
            .ant-select-selection {
                border: none;
            }
        }
    }
    .header-warpper {
        min-height: 54px;
        padding: 0 15px;
        box-sizing: border-box;
         ::-webkit-input-placeholder {
            color: #666;
        }
         :-moz-placeholder {
            color: #666;
        }
         :-ms-input-placeholde {
            color: #666;
        }
        input-placeholde {
            color: #666;
        }
        .more-btn {
            height: 28px;
            display: flex;
            align-items: center;
        }
        .more-up {
            cursor: pointer;
        }
    }
    .less-form {
        .ant-form-item {
            width: 100%;
        }
        .ant-btn:hover,
        .ant-btn:focus,
        .ant-btn:active,
        .ant-btn.active {
            color: #666;
            font-weight: 400;
            margin-right: 14px;
            height: 16px;
            line-height: 16px;
        }
        .ant-btn,
        .ant-btn:active,
        .ant-btn:focus {
            border: white;
            color: #666;
            font-weight: 400;
            margin-right: 14px;
            border-right: 1px solid #ccc;
            border-radius: 0;
            height: 16px;
            line-height: 16px;
        }
    }
    .viewPanel {
        position: absolute;
        z-index: 5;
        background-color: #eeeeee;
        top: 0;
        bottom: 0;
        right: 0;
        left: 200px;
        box-shadow: -5px 0 10px 0 #bbb;
        overflow-y: auto;
    }
    .viewShow {
        animation: show 0.5s linear;
    }
    .viewPanelFalse {
        background-color: #eeeeee;
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        bottom: 0;
        box-shadow: -5px 0 10px 0 #bbb;
        transform: translate3d(3000px, 0, 0);
    }
    .viewHide {
        animation: move 0.5s linear;
    }
    @keyframes show {
        0% {
            transform: translate3d(3000px, 0, 0);
        }
        100% {
            transform: translate3d(0, 0, 0);
        }
    }
    @keyframes move {
        0% {
            transform: translate3d(220px, 0, 0);
        }
        100% {
            transform: translate3d(3000px, 0, 0);
        }
    }
    .view-warrper {
        position: relative;
        height: 100%;
        background: white;
        .view-warrper-header {
            position: relative;
            min-height: 161px;
            padding: 0 15px;
            box-sizing: border-box;
        }
        .view-warrper-header>div:first-child {
            height: 85px;
            border-bottom: 1px solid #3ca4fb;
            display: flex;
            align-items: center;
            .customer-info {
                display: flex;
                .customer-image {
                    width: 40px;
                    height: 40px;
                }
                .customer-main {
                    display: flex;
                    flex-direction: column;
                    .customer-main-top {
                        display: flex;
                        align-items: center;
                        .iconfont {
                            color: @primary-project;
                        }
                        span {
                            color: #666;
                        }
                    }
                    .customer-main-top>span {
                        margin-right: 15px;
                    }
                    .customer-main-top>span:first-child {
                        color: #333;
                        font-size: 14px;
                    }
                    .customer-main-top>span:nth-of-type(2) {
                        position: relative;
                        i {
                            position: absolute;
                            right: 10px;
                            top: 3px;
                            color: white;
                            font-weight: bold;
                        }
                    }
                }
            }
            .customer-btn {
                display: flex;
            }
            .customer-btn>button {
                margin-right: 10px;
            }
        }
        .warrper-header-close {
            .iconfont {
                font-size: 14px;
                position: absolute;
                right: 0px;
                top: 5px;
                color: #999;
                cursor: pointer;
            }
        }
        .view-warrper-header>div:nth-of-type(2) {
            padding-top: 10px;
            box-sizing: border-box;
            width: 90%;
            margin: 0 auto;
            .info-tabel {
                height: 30px;
                line-height: 30px;
                color: rgba(51, 51, 51, 1);
            }
        }
        .cumtomer-detail>div:first-child {
            color: #666;
        }
        .cumtomer-detail>div:last-child {
            color: #333;
        }
        .view-warrper-main {
            border-top: 10px solid rgba(242, 242, 242, 1);
            background: white;
            .ant-collapse-content {
                padding: 10px;
                padding-top: 0;
                box-sizing: border-box;
            }
            .warrper-main-left {
                border-right: 10px solid rgba(242, 242, 242, 1);
                padding: 15px;
                box-sizing: border-box;
                min-height: 600px;
                .main-left-inner {
                    background: white;
                    .main-left-customer {
                        display: flex;
                        flex-wrap: wrap;
                        margin-left: 10px;
                    }
                    .main-left-customer>div {
                        cursor: pointer;
                        padding-right: 10px;
                        box-sizing: border-box;
                        margin-bottom: 10px;
                    }
                    .inner {
                        background: rgba(235, 245, 255, 1);
                        padding: 15px;
                        box-sizing: border-box;
                    }
                }
            }
            .warrper-main-right {
                background: white;
                .main-right-state {
                    height: 50px;
                    line-height: 70px;
                    border-bottom: 1px solid #ccc;
                    padding: 0 15px;
                    color: rgba(51, 51, 51, 1);
                    position: relative;
                    font-size: 13px;
                }
                .main-right-timeline {
                    padding: 15px;
                    .timeline-import {
                        color: rgba(28, 127, 235, 1);
                    }
                    .timeline-time {
                        color: rgba(153, 153, 153, 1);
                    }
                }
            }
        }
        .view-warrper-main>div {
            display: flex;
            height: 100%;
        }
        .panel-header {
            display: flex;
            justify-content: space-between;
            .iconfont {
                font-size: 14px;
                color: rgba(102, 102, 102, 1);
            }
        }
    }
    #form-input-recover {
        .ant-form-inline .ant-form-item {
            width: 100%;
        }
        .ant-form-item-control-wrapper {
            width: 70%;
        }
    }
    .form-bottom {
        margin-bottom: 30px;
    }
    .row-bottom {
        margin-bottom: 20px;
    }
    .form-label {
        text-align: right;
    }
    .crm-margin-right {
        display: flex;
        min-width: 275px;
        align-items: center;
        margin-right: 10px;
    }
    .crm-margin-right:last-child {
        margin-right: 0;
    }
    .less-show-height {
        height: 54px;
        opacity: 1;
        transition: all 0.3s linear;
    }
    .header-bottom {
        width: 100%;
        margin: 0 auto;
    }
    .less-hide-height {
        height: 0;
        opacity: 0;
        transition: all 0.3s linear;
    }
    .more-show-height {
        opacity: 1;
        transition: all 0.3s linear;
        border-top: 1px solid #ccc;
    }
    .header-bottom-inner {
        width: 90%;
        margin: 0 auto;
        padding: 15px 0 0 0;
        box-sizing: border-box;
        .ant-form-item {
            width: 100%;
            margin-bottom: 15px;
        }
        .ant-btn:hover,
        .ant-btn:focus,
        .ant-btn:active,
        .ant-btn.active {
            color: #666;
            font-weight: 400;
            margin-right: 14px;
            height: 16px;
            line-height: 16px;
        }
        .ant-btn,
        .ant-btn:active,
        .ant-btn:focus {
            border: white;
            color: #666;
            font-weight: 400;
            margin-right: 14px;
            border-right: 1px solid #ccc;
            border-radius: 0;
            height: 16px;
            line-height: 16px;
        }
    }
    .table-bg {
        padding: 15px;
        padding-top: 0;
        box-sizing: border-box;
    }
}