.custom-warpper{
    background: white;
    .label-form-more{
        padding:0 15px;
        box-sizing: border-box;
        .label-form-top{
            min-height:54px;
            width:100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom:1px solid #DDD;
            .label-form-topleft{
                display: flex;
                align-items: center;
                width:70%;
                .first-select{
                    margin-right:10px;
                }
                .showleft-form{
                    display: block;
                    width:100%;
                }
                .form-top{
                    .ant-row{
                        display: flex;
                        align-items: center
                    }
                }
            }
            .label-form-topright{ 
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width:30%;
            }
        }
        
        .label-form-bottom{
            width:100%;
            min-height:100px;
            .form-bottom{
                width:90%;
                margin:0 auto;  
            }
        }
        .form-hide{
            display: none
        }
        .ant-select-selection{
            border:1px solid #DDD;
        }
        input[type='text']{
            height:28px;
        }
        .ant-form-item{
            margin-right:0;
            width:100%
        }
        #recover-btn{
            .ant-btn:hover, .ant-btn:focus{
                border:none;
                border-right:1px solid #DDD;
            }
            .ant-btn{
                transition: none;
                border:none;
                padding: 0 10px;
                border-right:1px solid #DDD;
                border-radius: 0;
                height:13px;
                line-height:13px;
            }
        }
        
    }
    .custom-tabel{
        margin:15px;
        margin-top:0;
    }
}

.card-title{
    background-color: #EEEEEE;
}

.viewPanelTrue{
    display: block;
    position:absolute;
    z-index:5;
    background-color: #EEEEEE;
    top:0;bottom:0;
    left:20%;
    right:0;
}
.viewPanelFalse{
    display: none;
}

