//.babelrc
{
  "presets": ["es2015", "stage-1", "react"],
  "env": {
    "development": {
      "plugins": [["react-transform", {
         "transforms": [{
           "transform": "react-transform-hmr",
           "imports": ["react"],
           "locals": ["module"]
         }]
       }]]
    }
  },
  "plugins": [
      "transform-object-assign",
      //根据less变量自定义antd样式
      ["import", {
        "libraryName": "antd",
        "style": true  // 'less'
      }]
  ]
}