// .search-box {
//   height:100px;
//   padding: 10px;
//   background-color: #ffffff;
//   margin-bottom: 20px;
// }

// .list-box {
//   background-color: #ffffff;
// }

// .breadcrumb {
//   font-size: 18px;
//   margin-bottom:10px;
//   color: #108ee9;
// }

// .header {
//   box-sizing: border-box; 
//   background: #F7F7F7;
//   width: 100%;
//   display: flex;
//   align-items: center;
//   height: 54px;
// }


.quartz-warpper {
  background: white;
  position: relative;
  overflow-x: hidden;
  height: 100%;
  .iconfont {
      font-size: 12px;
  }
  .search-box {
    height:100px;
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 20px;
  }
  
  .list-box {
    background-color: #ffffff;
  }
  
  .breadcrumb {
    font-size: 18px;
    margin-bottom:10px;
    color: #108ee9;
  }
  
  .header {
    box-sizing: border-box; 
    background: #F7F7F7;
    width: 100%;
    display: flex;
    align-items: center;
    height: 54px;
  }
  
}

.quartz-group{
    width:300px;
    border-radius:5px;
    background: white;
    box-shadow: 0 0 15px rgb(136, 136, 136);
    .group-header{
        height: 54px;
        border-bottom:1px solid #f0f0f0;
        background: #fafafa;
        padding:0 10px;
        box-sizing: border-box;
        .title{
            color:#666666;
            font-size: 16px;
        }
        :-moz-placeholder{
            color:#CCCCCC
        }
        ::-webkit-input-placeholder{
            color:#CCCCCC
        }
        :-ms-input-placeholder{
            color:#CCCCCC
        }
    }
    .group-tabel-body{
        padding:10px;
        box-sizing: border-box;
        overflow-y:auto;
        height:250px;
    }
    .group-tabel-footer{
        height: 60px;
        border-top:1px solid #f0f0f0;
        padding:0 10px;
        box-sizing: border-box;
        .btnGroup{
            margin-right: 10px;
        }
    }
}

