.tpl-setting-form {
    height: 550px;
    &>.gutter-row {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }
    .drag-fields-box {
        height: 400px;
        width: 800px;
        display: flex;
        overflow-x: hidden;
        .drag-fields-block {
            box-sizing: border-box;
            width: 445px;
            overflow-y: auto;
            color:#666;
            font-size:12px;
            border:1px solid #eee;
            .drag-fields-block-name {
                margin:0;
                box-sizing: border-box;
                width:100%;
                height: 40px;
                line-height: 40px;
                padding-left:15px;
                background-color:#f2f2f2;
            }
            .drag-fields-block-content {
                margin:0;
                box-sizing: border-box;
                width:395px;
                height: 355px;
                padding:16px 0 0 15px;
                .sourceBlock {
                    border: 1px solid #ddd;
                    background-color: #fff;
                    height: 28px;
                    line-height: 28px;
                    text-align: center;
                    margin: 0 15px 15px 0;
                    width: 80px;
                    border-radius: 4px;
                    cursor: move;
                    float: left;
                    opacity: 1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space:nowrap;
                }
                .disDrag {
                    background-color: #eee;
                    cursor: auto;
                }
            }
        }
        .drag-fields-list-box {
            margin-right:10px;
            width: 300px;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            overflow-y: auto;
            .dustbin {
                width:265px;
                height: 40px;
                margin-bottom:10px;
                color: #fff;
                background-color:#3CA4FB;

            }
            .layout {
                width:265px;
                height: 355px;
                color:#666;
                box-sizing: border-box;
                border:1px solid #eee;
                .drag-fields-list-item {
                    display: inline-block;
                    position: relative;
                    box-sizing: border-box;
                    margin: 0 0 10px 10px;
                    text-align: center;
                    height: 28px;
                    line-height: 28px;
                    width: 120px;
                    border-radius: 4px;
                    border: 1px solid #ddd;
                    background-color: #fff;
                    cursor: move;
                    padding:0 25px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    &.list-group {
                        width: 260px;
                        background: #eee;
                        text-align: left;
                        padding-left: 10px;
                        border-radius: 4px;
                        margin-left:0;
                    }
                    &.list-whole-line {
                        width: 210px;
                        border-radius: 4px;
                        text-align: left;
                        padding-left: 10px;

                    }
                    .btn-con {
                        position: absolute;
                        display: none;
                        right: 0;
                        top: 0;
                  
                    }
                    &:hover {
                        .btn-con {
                            display: block;
                        }
                    }
                    .btn-edit {
                        margin: 0;
                        cursor: pointer;
                    }
                    .btn-delete {
                        margin-left: 4px;
                        cursor: pointer;
                    }
                }
            }
        
            .drag-fields-add {
                width: 265px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border: 1px dashed #bfbfbf;
                box-sizing: border-box;
                background-color:  #3CA4FB;
                margin-bottom: 10px;
            }
        }
    }
    .isRequired {
        margin-right: 4px;
        color: red;
    }
    .relative-obj {
        padding: 10px 20px;
    }

    .prompt{
        color:red;
        white-space: nowrap;
        animation: translate3 0.5s; 
    }
    
    @keyframes translate3{
        from{
            transform: translateY(20px);
            opacity: 0;
        }
        to{
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.tpl-setting-edit-model {
    .form-lable {
        line-height: 28px;
    }
    .text-align-right {
        text-align: right;
    }
    .gutter-row {
        margin-bottom: 20px;
    }
}