.app-header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:0 15px;
    box-sizing: border-box;
    border-bottom:1px solid #DDD;
    .app-header-title{
        font-size:14px;
    }
    .app-header-right{
        display: flex;
        align-items: center;
        img{
            width:40px;
            height:40px;
            border-radius: 40px;
        }
    }
}
.logger {
    float : right;
    color : #ffffff;
    width:100px;
    height:50px;
    line-height: 50px;
    font-size:14px;
}