// .ant-table-thead>tr,
// .ant-table-tbody>tr:nth-child(even) {
//     background: #f6faff;
// }
// .ant-table-thead>tr>th {
//     color: #666;
// }
// .ant-table table {
//     border-top: 1px solid #3ca4fb;
//     border-bottom: 1px solid #ddd;
// }
// .ant-table {
//     color: #999;
// }
// .ant-table-tbody>tr>td {
//     border: none;
// }
.app-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    min-width: 100px;
    border-bottom: 1px solid #ddd;
}

// .ant-dropdown .ant-dropdown-menu-item,
// .ant-dropdown .ant-dropdown-menu-submenu-title {
//     padding: 10px 25px;
// }

.app-header-menu-more{
    width:100%;
    height:100%;
    padding: 5px 23px;
}

.app-header-inner {
    .ant-dropdown .ant-dropdown-menu-item, .ant-dropdown .ant-dropdown-menu-submenu-title{
        box-sizing: border-box
    }
    width: 100%;
    .header-title {
        border-right: 1px solid #3ca4fb;
        font-size: 14px;
        padding-right: 15px;
        box-sizing: border-box;
        color: #313542;
    }
    .menu-down {
        display: flex;
        color: #1b1d2e;
        .anticon {
            line-height: unset;
        }
    }
    .more-icon-warpper {
        transform: scale(0.4, 0.4);
        color: #1b1d2e;
        display: flex;
        justify-content: flex-end;
    }
    sup {
        top: -10px;
        right: -22px;
        height: 14px;
        line-height: 14px;
        padding: 0;
        border-radius: 8px;
        background: #f1b941;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }
    .header-img {
        width: 30px;
        height: 30px;
    }
    .header-username {
        width: 60px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
}
