.ant-table-thead > tr,
.ant-table-tbody > tr:nth-child(even) {
  background: #F6FAFF;
}
.ant-table-thead > tr > th {
  color: #666;
}
.ant-table table {
  border-top: 1px solid #3CA4FB;
  border-bottom: 1px solid #ddd;
}
.ant-table {
  color: #999;
}
.ant-table-tbody > tr > td {
  border: none;
}
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #DDD;
}
.app-header .app-header-title {
  font-size: 14px;
}
.app-header .app-header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.app-header .app-header-right .client-header-left {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
  border-right: 1px solid #ccc;
  padding-right: 25px;
  box-sizing: border-box;
}
.app-header .app-header-right .client-header-left .del-border {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}
.app-header .app-header-right .client-header-left .clinet-search {
  height: 30px;
}
.app-header .app-header-right .client-header-left .clinet-alert {
  width: 50px;
  height: 30px;
  text-align: right;
}
.app-header .app-header-right .client-header-left .clinet-alert i {
  font-size: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.app-header .app-header-right .client-header-left .clinet-alert sup {
  top: -20px;
  height: 13px;
  line-height: 13px;
  border-radius: 13px;
  min-width: 13px;
  padding: 0;
}
.app-header .app-header-right .client-header-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-header .app-header-right .client-header-right img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
.logger {
  float: right;
  color: #ffffff;
  width: 100px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
}
.menu-more {
  display: flex;
  padding-left: 15px;
  box-sizing: border-box;
  align-items: center;
  width: 100px;
  height: 30px;
}
.menu-more span {
  margin-left: 10px;
}
