@blue:#3ca3fb;
@green:#2dd685;
@red:#fd786d;

.home-show-wrapper{
    width:100%;
    height:100%;
}
.home-userType{
    width:100%;
    height:100%;
    background:url("../images/bg.png") no-repeat;
    background-size:100% 100%;
}
 /*首页样式*/
 .home-layer{
    position: relative;

//审批 详情 
    .view-warrper-homeApproval {
        position: relative;
        height: 100%;
        background:white;

        .arrow{
                margin-top:-9px;
                width: 0px;
                height: 0px;
                border-width: 8px;
                border-style: solid;
                border-color: transparent transparent #999 transparent;
        }
        .arrow-top{
           margin-top:9px;
            width: 0px;
            height: 0px;
            border-width: 8px;
            border-style: solid;
            border-color:#999 transparent transparent  transparent;
        }
        .form-input-recover {

        .lastPreson{
           .ant-col-7.ant-form-item-label{
     width:35%;
         }
    .ant-col-11.ant-form-item-control-wrapper{
        width:65%;
    }
    
}

   .detailForm .ant-row.ant-form-item {
                width: 100%;
                margin-bottom: 5px;
                   }
            .ant-form-item-control-wrapper {
                width: 70%;
            }
            .ant-input-lg {
                height: 28px;
                 border:none;
                 color: #999;
                 background-color: white;
            }
            .import {
                color: #3ca4fb;
            }
            .remark{
                .ant-form-item-control-wrapper {
                    width:95%;
                }
        }
        border-top: 10px solid #f2f2f2;
        width:100%;
        box-sizing: border-box;
        min-height: 38px;
        padding: 10px 15px;
        .detailApproval-info{
            margin-bottom: 15px;
            height: 30px;
            line-height: 30px;
            .detailApproval-info-content{
                white-space: nowrap;
             text-overflow: ellipsis;
             overflow: hidden;
             span{
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
             }
            }
         }
        }
        .view-warrper-detail-homeApproval{
            position: relative;
            min-height: 200px;
            box-sizing: border-box;
            .header-detail {
                width:100%;
                padding: 10px 22px 10px 15px;
                box-sizing: border-box;
                min-height: 38px;
                // border:1px solid #999;
                margin:5px 0 0 0;
                .head-buttom{
                    display: flex;
                   .btnReturn{
                       margin-right:15px;
                   }
                    .approval-buttons{
                        display: flex;
                        div{margin-left: 15px;}
                    }
                    }

            }

            .view-state{
                width:100%;
                padding: 10px 15px;
                box-sizing: border-box;
                border-top: 10px solid #f2f2f2;
                margin:0;
                .info-title {
                    color: #666666;
                    height: 40px;
                    line-height: 40px;
                }
                .detailList{
                     display: flex;
                     align-items: center;
                     justify-content: center;
                    .detailStatus{
                        font-size: 14px;
                        width: 40px;
                        height: 40px;
                        text-align: center;
                        height: 40px;
                        line-height: 40px;
                        border-radius: 40px;
                        border: 1px solid #999;
                    }
                    .detailName{
                        margin-left:5px;
                    }
                    .detailIcon{
                        .iconfont.icon-touxiang-jiantou.rouge{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

//===============================================================

.home-warrper {
   display: flex;
   flex-direction:column;
   height:100%;
   background: #f2f2f2;

   /*单独改ant tabel样式*/
   #change-style .ant-table table{
       border:1px solid #ccc;
       border-bottom:none;
       border-right:none;
       border-radius:0 0 0 0;
   }
   #change-style .ant-table-thead > tr,  #change-style .ant-table-tbody > tr:nth-child(even){
        background: none
    }
    #change-style .ant-table-thead > tr > th{
        color:#666;
        border:none;
        background: #FCFCFC ;
        border-radius:0px;
    }

    #change-style .ant-table .ant-table table{
        border:none
    }

    #change-style .ant-table{
        color:#999;
    }
    #change-style .ant-table .ant-table-thead > tr > th, .ant-table .ant-table-tbody > tr > td{
        border-bottom:1px solid #ccc;
        border-right:1px solid #ccc;
        height:20px;
        padding:5px;
        box-sizing: border-box;
        text-align: center
    }

    #change-style .ant-table .ant-tree.ant-tree-show-line li:not(:last-child):before{
        border-left:1px solid #ECECEC
    }

   /*首页样式*/
   .main-inner{
       padding:15px;
       padding-top:0;
       box-sizing: border-box;
   }
  .client-header{
      width:100%;
      height:55px;
      display: flex;
      background: white;
      padding:0 10px;
      box-sizing: border-box;
      h3{
        display: flex;
        width:50%;
        align-items:center;
        font-size:16px;
     }
  }

  .clinet-main{
      .chart-title{
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 50px;
          width:100%;
          padding:0 15px;
          box-sizing: border-box;
          font-size:14px;
          color:#313542;
          .chart-title-more{
              font-size:12px;
              font-weight: none;
              color:#666666;
              border-bottom:1px solid #3CA4FB;
              cursor: pointer
          }
      }
    .clinet-main-left{
        padding-right:10px;
        box-sizing: border-box;

        .main-left-top{
            background: white;
            margin-bottom:10px;
            .target-charts{
                width:100%;
                min-height:250px
            }
            .charts-cell-tabel{
                width:100%;
                margin:0 auto;
                text-align: center;
                border:1px solid #EEEEEE;
                border-collapse:collapse;
                th{
                    text-align: center;
                    border:1px solid #EEEEEE;
                    background: #FCFCFC;
                    height:30px;
                    color: #666666
                }
                td{
                    border:1px solid #EEEEEE;
                    height:30px;
                    color:#999999
                }
            }
        }
        .main-left-bottom{
            background: white;
            .money-charts{
                width:100%;
                min-height:350px
            }
        }
    }
    .clinet-main-middle{
        padding-right:10px;
        box-sizing: border-box;
        .main-middle-top{
            background: white;
            margin-bottom:10px;
        }
        .main-middle-bottom{
            background: white;
            .funnel-chrats{
                width:100%;
                min-height:405px;
                div{
                    margin:0 auto;
                }
            }
        }
    }
    .clinet-main-right{
        .notice-right-padding{
            padding:15px;padding-top:0;
            box-sizing: border-box;
            ul li{
                height:30px;
                line-height: 30px;
                font-size: 12px;
                color: #666;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 400;
            }
            .schedule-weather{
                width:100%;
                height:40px;
                background: #F2F2F2;
                display: flex;
                align-items: center;
                justify-content: space-around;
                color: #3C394B
            }
            .schedule-date{
                height: 75px;
                padding-top:8px;
                box-sizing: border-box;
                .schedule-fix{
                    list-style: none;
                    display: flex;
                    flex:7;
                    li{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .day-active{
                        color:#3CA4FB;
                    }
                }
                .schedule-active{
                    list-style: none;
                    display: flex;
                    flex:7;
                    li{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .date-active{
                        width:20px;
                        height:20px;
                        background: #3CA4FB;
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color:white
                    }
                }
            }
            .schedule-mission{
                .mission-list{
                    width:100%;
                    height:40px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-top:1px solid rgba(221,221,221,0.50);
                    border-bottom:1px solid rgba(221,221,221,0.50);
                    .mission-blue{
                        color:@blue
                    }
                    .mission-green{
                        color:@green
                    }
                    .mission-red{
                        color:@red
                    }
                }
                .mission-main{
                    min-height: 300px;
                    .mission-main-list{
                        list-style: none;
                        li{
                            position: relative;
                            height:auto;
                            border-bottom:1px solid rgba(238,238,238,1);
                            padding:10px 0;
                            box-sizing: border-box;
                            font-size: 12px;
                            .list-bg{
                                position: absolute;
                                z-index: 1;
                                top:0;
                                right:0;
                                width:60px;
                                i{
                                    font-size: 60px;
                                }
                            }
                        }
                        .red{
                            color:rgba(60,163,251,.6)
                        }
                        .green{
                            color:rgba(45,214,133,.6)
                        }
                        .blue{
                            color:rgba(253,120,109,.6)
                        }
                        .list-main p{
                            position: relative;
                            z-index: 2;
                            padding:0;
                            margin:0;
                            line-height: 23px;
                            color:#999;
                            width:100%;
                            overflow: hidden;
                            text-overflow:ellipsis;
                            white-space: nowrap;
                        }
                        .list-main p:nth-of-type(2) i{
                            margin-right:7.5px;
                        }
                        .list-main p:first-child{
                            font-size: 14px;
                            color:#333
                        }
                        li:last-child{
                            border-bottom:none;
                            color:#666
                        }
                    }
                }
            }
        }


        //审批
       .main-right-top{
        background: white;
        margin-bottom:10px;
        padding: 15px;
        padding-top: 0;
         box-sizing: border-box;
        h3.chart-title{
            padding: 0;
        }

        //table 样式覆盖
       .ant-table table{
            border:1px solid #ccc;
            border-bottom:none;
            border-right:none;
            border-radius:0 0 0 0;
        }
      .ant-table-thead > tr,  .ant-table-tbody > tr:nth-child(even){
             background: none
         }
        .ant-table-thead > tr > th{
             color:#666;
             border:none;
             background: #FCFCFC ;
             border-radius:0px;
         }

       .ant-table .ant-table table{
             border:none
         }

     .ant-table{
             color:#999;
         }
       .ant-table .ant-table-thead > tr > th, .ant-table .ant-table-tbody > tr > td{
             border-bottom:1px solid #ccc;
             border-right:1px solid #ccc;
             height:20px;
             padding:5px;
             box-sizing: border-box;
             text-align: center
         }

        .ant-table .ant-tree.ant-tree-show-line li:not(:last-child):before{
             border-left:1px solid #ECECEC
         }

//===




        .ant-row-flex.ant-row-flex-center{
         text-align: center
       }
       .ant-table-pagination.ant-pagination{
           display: none
       }
       .approval-commit{
           cursor: pointer;
            margin:10px;
           div{
               font-size: 30px;
               font-weight: 400;
           }
       }
       .approval-approved{
        cursor: pointer;
        margin:10px;
       div{
           font-size: 30px;
           font-weight: 400;
       }
       }
       .approval-commitColor{
        cursor: pointer;
             margin:10px;
             color:rgba(28, 127, 235, 1);
        div{
            font-size: 30px;
            font-weight: 400;

        }
    }
       .approval-approvedColor{
        color:rgba(28, 127, 235, 1);
        cursor: pointer;
        margin:10px;
        div{
            font-size: 30px;
            font-weight: 400;

        }
       }
       }
//===========================================










       .main-right-bottom{
        background: white;
        height:635px;
        overflow: auto
       }
    }
  }
}
 }


//云审批 时间树样式覆盖
 .approval-timeline.approval-timeline-recoverd{
    padding: 15px;
     .ant-timeline-item-tail{
        position: absolute;
        left: 3px;
        top: 0;
        height: 100%;
        border-left: 2px solid #e9e9e9;
     }
    .ant-timeline-item-head.ant-timeline-item-head-blue{
        width: 8px;
        height: 8px;
        box-shadow: 0 0 0 2px rgba(102, 166, 255, 0.4);
        background: #3ca4fb;
    }
        .ant-timeline-item-content{
            .timeline-import {
                color: rgba(28, 127, 235, 1);
           }
           .timeline-time {
            color: rgba(153, 153, 153, 1);
        }

        }

    }
//===============================================================