/*ant select下拉框颜色*/
.ant-select-dropdown{
    min-width:105px;
    text-align: center;
}

.ant-select-dropdown-menu-item{
    color:#1C7FEB
}
.ant-select-dropdown-menu-item:hover{
    color:#666;
    background: #EBF5FF
}
.ant-select{
    margin-right: -10px;
    
}

.home-warrper {
   display: flex;
   flex-direction:column;
   height:100%;
   background: #f2f2f2;
   .ant-select-selection{
       border:none;
   }
   
   .main-inner{
       padding:15px;
       padding-top:0;
       box-sizing: border-box;
   }
  .client-header{
      width:100%;
      height:55px;
      display: flex;
      background: white;
      padding:0 10px;
      box-sizing: border-box;
      h3{
        display: flex;
        width:50%;
        align-items:center;
        font-size:16px;
     }
  }
  
  .clinet-main{
      .chart-title{
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 50px;
          width:100%;
          padding:0 15px;
          box-sizing: border-box;
          font-size:14px;
          color:#313542;
          .chart-title-more{
              font-size:12px;
              font-weight: none;
              color:#666666;
              border-bottom:1px solid #3CA4FB;
              cursor: pointer
          }
      }
    .clinet-main-left{
        padding-right:10px;
        box-sizing: border-box;

        .main-left-top{
            background: white;
            margin-bottom:10px;
            .target-charts{
                width:100%;
                min-height:250px
            }
            .charts-cell-tabel{
                width:100%;
                margin:0 auto;
                text-align: center;
                border:1px solid #EEEEEE;
                border-collapse:collapse;
                th{
                    text-align: center;
                    border:1px solid #EEEEEE;
                    background: #FCFCFC;
                    height:30px;
                    color: #666666
                }
                td{
                    border:1px solid #EEEEEE;
                    height:30px;
                    color:#999999
                }
            }
        }
        .main-left-bottom{
            background: white;
            .money-charts{
                width:100%;
                min-height:350px
            }
        }
    }
    .clinet-main-middle{
        padding-right:10px;
        box-sizing: border-box;
        .main-middle-top{
            background: white;
            margin-bottom:10px;
        }
        .main-middle-bottom{
            background: white;
            .funnel-chrats{
                width:100%;
                min-height:405px;
                div{
                    margin:0 auto;
                }
            }
        }
    } 
    .clinet-main-right{
        .notice-right-padding{
            padding:15px;padding-top:0;
            box-sizing: border-box;
            ul li{
                height:30px;
                line-height: 30px;
                font-size: 14px;
                color: #666;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 400;
            }
            .schedule-weather{
                width:100%;
                height:40px;
                background: #F2F2F2;
                display: flex;
                align-items: center;
                justify-content: space-around;
                color: #3C394B
            }
            .schedule-date{
                height: 75px;
                padding-top:8px;
                box-sizing: border-box;
                .schedule-fix{
                    list-style: none;
                    display: flex;
                    flex:7;
                    li{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .day-active{
                        color:#3CA4FB;
                    }
                }
                .schedule-active{
                    list-style: none;
                    display: flex;
                    flex:7;
                    li{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .date-active{
                        width:20px;
                        height:20px;
                        background: #3CA4FB;
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color:white
                    }
                }
            }
            .schedule-mission{
                .mission-list{
                    width:100%;
                    height:40px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-top:1px solid rgba(221,221,221,0.50);
                    border-bottom:1px solid rgba(221,221,221,0.50);
                    margin-bottom:10px;
                }
                .mission-main{
                    min-height: 300px;
                    text-align: center
                }
            }
        }
       .main-right-top{
        background: white;
        margin-bottom:10px;
       }
       .main-right-bottom{
        background: white;
        height:635px;
       }
    }
  }
}
