.home-warrper {
   background: white;
   padding:10px;
   box-sizing: border-box;
   .home-header{
       width:100%;
       height:110px;
       display: flex;
       .home-header-part{
           width:25%;
           margin-right:10px;
           border-radius:5px;
       }
       .home-header-part:nth-of-type(4){
        margin-right:0;
       }
       .part1{
           background: #EC8686
       }
   }
}