//联系人详情样式
.label-title {
    display: flex;
    margin-right: 10px;
    color: #333;
    min-width: 65px;
}

.card-header-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    background: #eeeeee;
    padding-left: 20px;
    box-sizing: border-box;
}


/*最外层边框样式*/

.crm-container {
    .iconfont {
        font-size: 12px;
    }
    /*页面单独覆盖ant样式*/
    .ant-select-focused .ant-select-selection,
    .ant-select-selection:focus,
    .ant-select-selection:active {
        box-shadow: 0 0 0 2px rgba(102, 166, 255, 0);
    }
    .crm-container-header {
        .ant-select-selection {
            border: none;
        }
        .more-card {
            border-top: 1px solid rgb(243, 243, 243);
            display: flex;
            justify-content: center;
            width: 100%;
            .ant-form {
                width: 85%;
            }
        }
        .formitem-width {
            .ant-form-item {
                width: 100%;
                .ant-form-item-control-wrapper {
                    width: 100%;
                }
            }
        }
        .more-btn {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        #btn-recover {
            .ant-btn,
            .ant-btn:active,
            .ant-btn:focus {
                border: none;
                color: #333;
            }
            .ant-btn {
                line-height: 0;
                height: auto;
                font-weight: unset;
                border: none;
                border-right: 1px solid #ccc;
                height: 20px;
                border-radius: 0;
                margin-right: 15px;
            }
        }
    }
    .less-show-height {
        height: 54px;
        opacity: 1;
        transition: all 0.3s linear;
    }
    .less-hide-height {
        height: 0;
        opacity: 0;
        transition: all 0.3s linear;
    }
    .more-show-height {
        height: 167px;
        opacity: 1;
        transition: all 0.3s linear;
    }
}