.label-title {
  display: flex;
  margin-right: 10px;
  color: #333;
  min-width: 65px;
}
.card-header-title {
  width: 100px;
  height: 40px;
  text-align: right;
  line-height: 40px;
  margin-bottom: 15px;
  padding-left: 20px;
  box-sizing: border-box;
  font-size: 13px;
}
.card-header-title .iconfont {
  color: #3ca4fb;
  font-size: 12px;
}
/*最外层边框样式*/
.contacts-warpper {
  /*页面单独覆盖ant样式*/
}
.contacts-warpper .iconfont {
  font-size: 12px;
}
.contacts-warpper .crm-pointer {
  color: #3ca4fb;
}
.contacts-warpper .crm-list-card-modal .ant-modal-content .ant-modal-body .modal-height {
  margin-top: 30px;
  height: auto;
}
.contacts-warpper .loading {
  width: 80%;
}
.contacts-warpper .loading .ant-spin-dot {
  margin-left: 50%;
}
.contacts-warpper .ant-select-focused .ant-select-selection,
.contacts-warpper .ant-select-selection:focus,
.contacts-warpper .ant-select-selection:active {
  box-shadow: 0 0 0 2px rgba(102, 166, 255, 0);
}
.contacts-warpper .tabel-bg {
  background: white;
}
.contacts-warpper .ant-select-selection {
  border: none;
}
.contacts-warpper .more-card {
  border-top: 1px solid #f3f3f3;
  display: flex;
  justify-content: center;
  width: 100%;
}
.contacts-warpper .more-card .ant-form {
  width: 85%;
}
.contacts-warpper .formitem-width .ant-form-item {
  width: 100%;
}
.contacts-warpper .formitem-width .ant-form-item .ant-form-item-control-wrapper {
  width: 100%;
}
.contacts-warpper .more-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.contacts-warpper #btn-recover .ant-btn,
.contacts-warpper #btn-recover .ant-btn:active,
.contacts-warpper #btn-recover .ant-btn:focus {
  border: none;
  color: #333;
}
.contacts-warpper #btn-recover .ant-btn {
  line-height: 0;
  height: auto;
  font-weight: unset;
  border: none;
  /* border-right: 1px solid #ccc; */
  height: 20px;
  border-radius: 0;
  margin-right: 15px;
}
.contacts-warpper .less-show-height {
  max-height: 54px;
  opacity: 1;
  transition: all 0.3s linear;
}
.contacts-warpper .less-hide-height {
  max-height: 0;
  opacity: 0;
  transition: all 0.3s linear;
}
.contacts-warpper .more-show-height {
  max-height: 300px;
  opacity: 1;
  transition: all 0.3s linear;
}
.contacts-warpper .panel-header {
  height: 152px;
  background: white;
  padding: 0 15px;
  box-sizing: border-box;
}
.contacts-warpper .panel-header .panel-header-top {
  height: 75px;
  border-bottom: 1px solid #3ca4fb;
}
.contacts-warpper .panel-header .panel-header-top .contacts-icon {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.contacts-warpper .panel-header .panel-header-top .contacts-icon .icon-lianxiren-daixuan {
  font-size: 40px;
  line-height: 40px;
  margin-left: -5px;
  margin-top: -5px;
}
.contacts-warpper .panel-header .panel-header-top .contacts-name {
  font-size: 14px;
  color: #333;
}
.contacts-warpper .panel-header .panel-header-top .icon-blue {
  color: #3ca4fb;
}
.contacts-warpper .panel-header .panel-header-bottom {
  display: flex;
  height: 75px;
}
.contacts-warpper .panel-header .panel-header-bottom .contact-single-title {
  height: 30px;
  color: #666;
}
.contacts-warpper .panel-header .panel-header-bottom .contact-single-info {
  color: #333;
}
.contacts-warpper .panel-header .panel-header-bottom .contact-single-info img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.contacts-warpper .panel-header .panel-header-bottom > div {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacts-warpper .panel-main {
  border-top: 10px solid #f2f2f3;
  width: 100%;
  height: 80%;
}
.contacts-warpper .panel-main .panel-main-left {
  border-right: 10px solid #f2f2f3;
}
.contacts-warpper .panel-main .panel-main-left .inner {
  background: white;
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  height: 100%;
}
.contacts-warpper .panel-main .panel-main-left .contacts-info-ul {
  flex-wrap: wrap;
  display: flex;
}
.contacts-warpper .panel-main .panel-main-left .contacts-info-ul li {
  width: 50%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.contacts-warpper .panel-main .panel-main-left .contacts-info-ul li span:nth-of-type(1) {
  color: #333;
  margin-right: 5px;
}
.contacts-warpper .panel-main .panel-main-left .contacts-info-ul li span:nth-of-type(2) {
  color: #999;
}
.contacts-warpper .panel-main .panel-main-left .tab-warpper {
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.contacts-warpper .panel-main .panel-main-left .tab-warpper > div {
  display: flex;
  height: 40px;
  align-items: center;
}
.contacts-warpper .panel-main .panel-main-left .tab-warpper > div span {
  color: #333;
  margin-right: 5px;
}
.contacts-warpper .panel-main .panel-main-left .tab-warpper > div p {
  margin-right: 15px;
  color: #999;
}
.contacts-warpper .panel-main .panel-main-left .tab-warpper > div p:last-child {
  margin-right: 0;
}
.contacts-warpper .panel-main .panel-main-right {
  background: white;
}
.contacts-warpper .panel-main .panel-main-right .contacts-timeline-title {
  height: 45px;
  line-height: 60px;
  padding-left: 15px;
  box-sizing: border-box;
  font-size: 13px;
  color: #333;
  border-bottom: 1px solid #ddd;
}
.contacts-warpper .panel-main .panel-main-right .contacts-timeline {
  padding: 15px;
  box-sizing: border-box;
}
.contacts-warpper .panel-main .panel-main-right .contacts-timeline .contacts-timeline > p {
  height: 30px;
  line-height: 30px;
}
.contacts-warpper .panel-main .panel-main-right .contacts-timeline .timeline-item-import {
  color: #3ca4fb;
}
.contacts-warpper .panel-main .panel-main-right .contacts-timeline .timeline-item-normal {
  color: #151515;
}
.contacts-warpper .panel-main .panel-main-right .contacts-timeline .timeline-time {
  color: #999999;
  height: 30px;
  line-height: 30px;
}
.contacts-warpper .panel-main .panel-main-right .contacts-timeline .timeline-time span {
  margin-right: 5px;
}
.contacts-warpper .panel-main .panel-main-right .contacts-timeline .timeline-time span:last-child {
  margin-right: 0;
}
