.feild-setting-edit-form {
    display: flex;
    height: 400px;
    .feild-setting-form-props {
        flex-grow: 1;
        &>.gutter-row {
            margin-bottom: 20px;
        }
        .form-lable {
            text-align: right;
            line-height: 28px;
        }
    }
    .feild-setting-form-opt-list {
        max-height: 200px;
        width: auto;
        overflow: auto;
        overflow-x: hidden;
        .ant-row {
            cursor: move;
            margin-bottom: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid #f5f5f5;
        }
    }
}