.busi-obj-def-card {
  width: 320px;
  height: 117px;
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 2px;
  flex-direction: column;
  position: relative;
}
.busi-obj-def-card .card-default {
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.busi-obj-def-card .card-default .icon-moren1 {
  width: 100%;
  height: 100%;
  color: #3CA4FB;
  font-size: 24px;
}
.busi-obj-def-card .ant-checkbox-wrapper {
  position: absolute;
  top: -1px;
  right: -1px;
}
.busi-obj-def-card .ant-checkbox-wrapper .ant-checkbox {
  vertical-align: top;
}
.busi-obj-def-card .card-header {
  height: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
}
.busi-obj-def-card .card-header .card-header-name {
  position: relative;
  font-weight: bold;
  font-size: 14px;
  padding-left: 15px;
  color: #333;
  flex-grow: 1;
}
.busi-obj-def-card .card-header .card-header-name .card-header-default-father {
  position: relative;
}
.busi-obj-def-card .card-header .card-header-name .card-header-default-father .card-default {
  position: absolute;
  right: -14px;
  top: -9px;
  width: 14px;
  height: 14px;
  line-height: 14px;
}
.busi-obj-def-card .card-header .card-header-name .card-header-default-father .card-default .icon-zhuyaolianxiren {
  width: 100%;
  height: 100%;
  color: #00A854;
  font-size: 13px;
}
.busi-obj-def-card .card-header .card-header-btn {
  width: 60px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 30px;
  margin-right: 10px;
  cursor: pointer;
}
.busi-obj-def-card .card-body {
  display: flex;
  border-top: 1px solid #eee;
  flex-grow: 1;
}
.busi-obj-def-card .card-body .card-body-con {
  flex-grow: 1;
}
.busi-obj-def-card .card-body .card-body-con .card-body-con-item {
  padding: 10px;
  height: 50%;
  display: flex;
  align-items: center;
}
.busi-obj-def-card .card-body .card-body-con .card-body-con-item .card-body-con-name {
  width: 84px;
  height: 17px;
  line-height: 17px;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}
.busi-obj-def-card .card-body .card-body-con .card-body-con-item .card-body-con-text {
  line-height: 100%;
  width: 109px;
  color: #999999;
  padding-left: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.busi-obj-def-card .card-body .card-body-con .card-body-con-item .card-body-con-text span {
  display: inline-block;
  margin-right: 4px;
}
.busi-obj-def-card .card-body .card-body-btn {
  width: 80px;
  display: flex;
  flex-direction: column;
}
.busi-obj-def-card .card-body .card-body-btn > div {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background: #f2f2f2;
}
.busi-obj-def-card .card-body .card-body-btn > div i {
  display: inline-block;
}
.busi-obj-def-card .card-body .card-body-btn .card-body-btn-edit {
  border-top: 1px solid #ffffff;
}
