.list-config-mobile-form > .gutter-row {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.list-config-mobile-form .drag-fields-box {
  height: 400px;
  display: flex;
}
.list-config-mobile-form .drag-fields-box .drag-fields-block {
  width: 370px;
}
.list-config-mobile-form .drag-fields-box .drag-fields-block h3 {
  width: 100%;
  margin-bottom: 10px;
}
.list-config-mobile-form .drag-fields-box .drag-fields-block .sourceBlock {
  border: 1px dashed #ccc;
  background-color: white;
  height: 30px;
  line-height: 30px;
  margin: 10px;
  width: 80px;
  cursor: move;
  float: left;
  opacity: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list-config-mobile-form .drag-fields-box .drag-fields-block .disDrag {
  background-color: #eee;
  cursor: auto;
}
.list-config-mobile-form .drag-fields-box .drag-fields-list-box {
  border: 1px dashed #ddd;
  padding: 10px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: auto;
}
.list-config-mobile-form .drag-fields-box .drag-fields-list-box .error-prompt {
  width: 100%;
  position: relative;
}
.list-config-mobile-form .drag-fields-box .drag-fields-list-box .error-prompt h3 {
  width: 100%;
  margin-bottom: 10px;
}
.list-config-mobile-form .drag-fields-box .drag-fields-list-box .error-prompt .prompt {
  position: absolute;
  left: 70px;
  top: 0;
}
.list-config-mobile-form .drag-fields-box .drag-fields-list-box .drag-fields-list-item {
  position: relative;
  box-sizing: border-box;
  margin: 0 10px 10px 0;
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 200px;
  border: 1px solid #ddd;
  background-color: white;
  cursor: move;
}
.list-config-mobile-form .drag-fields-box .drag-fields-list-box .drag-fields-list-item.list-group {
  width: 410px;
  background: #eee;
  text-align: left;
  padding-left: 10px;
}
.list-config-mobile-form .drag-fields-box .drag-fields-list-box .drag-fields-list-item .btn-con {
  position: absolute;
  display: none;
  right: 0;
  top: 0;
}
.list-config-mobile-form .drag-fields-box .drag-fields-list-box .drag-fields-list-item:hover .btn-con {
  display: block;
}
.list-config-mobile-form .drag-fields-box .drag-fields-list-box .drag-fields-list-item .btn-edit {
  margin: 10px;
  cursor: pointer;
}
.list-config-mobile-form .drag-fields-box .drag-fields-list-box .drag-fields-list-item .btn-delete {
  margin: 10px;
  cursor: pointer;
}
.list-config-mobile-form .drag-fields-box .drag-fields-list-box .drag-fields-add {
  width: 410px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px dashed #bfbfbf;
  box-sizing: border-box;
}
.list-config-mobile-form .isRequired {
  margin-right: 4px;
  color: red;
}
