Row,
Col,
div,
Button,
span {
  margin: 0;
  padding: 0;
}
.customer-panelMap-wraper {
  background-color: #f2f2f2;
}
.customer-panelMap-wraper .customer-panelMap-left {
  background-color: #fff;
  padding: 0 14px 0 16px;
}
.customer-panelMap-wraper .customer-panelMap-left .customer-detail-title {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ddd;
}
.customer-panelMap-wraper .customer-panelMap-left .customer-detail-title .customer-detail-total {
  height: 50px;
  line-height: 50px;
  font-size: 14px;
}
.customer-panelMap-wraper .customer-panelMap-left .customer-detail-title .customer-detail-total .customer-detail-num {
  color: #3ca4fb;
}
.customer-panelMap-wraper .customer-panelMap-left .customer-principal {
  width: 100%;
  height: 210px;
  box-sizing: border-box;
  padding: 15px 15px 5px 15px;
  overflow-y: auto;
}
.customer-panelMap-wraper .customer-panelMap-left .customer-principal .customer-principal-item {
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #666;
  font-size: 12px;
  margin: 0 10px 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}
.customer-panelMap-wraper .customer-panelMap-left .customer-principal .customer-principal-item .customer-num {
  color: #3ca4fb;
}
.customer-panelMap-wraper .customer-panelMap-left .customer-address {
  width: 100%;
  height: 350px;
  overflow-y: auto;
}
.customer-panelMap-wraper .customer-panelMap-left .customer-address .customer-address-item {
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  border: 1px solid #eee;
  margin-bottom: -1px;
  padding: 14px 0;
}
.customer-panelMap-wraper .customer-panelMap-left .customer-address .customer-address-item .customer-address-item-order {
  width: 100%;
  height: 100%;
  position: relative;
}
.customer-panelMap-wraper .customer-panelMap-left .customer-address .customer-address-item .customer-address-item-order .icon-dingweilan {
  width: 16px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -8px;
  font-size: 16px;
}
.customer-panelMap-wraper .customer-panelMap-left .customer-address .customer-address-item .customer-address-item-order .customer-address-item-num {
  width: 12px;
  height: 12px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -6px;
  margin-left: -6px;
}
.customer-panelMap-wraper .customer-panelMap-left .customer-address .customer-address-item .item-content {
  cursor: pointer;
  height: 42px;
}
.customer-panelMap-wraper .customer-panelMap-left .customer-address .customer-address-item .item-content .item-content-name {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #3ca4fb;
  margin-bottom: 5px;
  position: relative;
}
.customer-panelMap-wraper .customer-panelMap-left .customer-address .customer-address-item .item-content .item-content-name .item-content-name-title {
  position: absolute;
  top: -56px;
  left: -100px;
  width: 105px;
  height: 56px;
  background-color: #3990EF;
  font-size: 10px;
  color: #fff;
  opacity: 0;
}
.customer-panelMap-wraper .customer-panelMap-left .customer-address .customer-address-item .item-content .item-content-name:hover .item-content-name-title {
  opacity: 1;
}
.customer-panelMap-wraper .customer-panelMap-left .customer-address .customer-address-item .item-content .item-content-adress {
  width: 100%;
  height: 17px;
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  color: #999;
}
.customer-panelMap-wraper .customer-panelMap-left .customer-address .customer-address-item .item-content .item-content-adress .icon-dingwei {
  margin-right: 5px;
  vertical-align: middle;
}
.customer-panelMap-wraper .customer-panelMap-left .customer-address .customer-address-item:nth-child(odd) .icon-dingweilan {
  color: #3385FF;
}
.customer-panelMap-wraper .customer-panelMap-left .customer-address .customer-address-item:nth-child(even) .icon-dingweilan {
  color: #E64026;
}
.customer-panelMap-wraper .customer-panelMap-left .page-list {
  margin-top: 20px;
}
.customer-panelMap-wraper .customer-panelMap-right {
  background-color: #fff;
  box-sizing: border-box;
  width: 825px;
  height: 650px;
  padding: 10px;
}
.customer-panelMap-wraper .customer-panelMap-right .echartsSize {
  width: 90%;
  height: 90%;
}
.customer-panelMap-wraper .customer-panelMap-right .echartsSize .echartsSize {
  width: 100%;
  height: 100%;
}
