.head_panel {
    background-color: white;
    height: 36px;
    line-height: 36px;
    .head_panel_span {
        font-size: 14px;
        margin-left: 40px;
    }
    .button_add {
        float:right;
        margin-right:30px;
        top:8px;
    }
}