
//ant.design icon样式
.ant-menu-inline-collapsed > .ant-menu-item .anticon + span, .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .iconfont + span{
    opacity: 0
}
.ant-menu-item .anticon + span, .ant-menu-submenu-title .iconfont + span{
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-menu-inline-collapsed > .ant-menu-item > .iconfont + span{
        opacity: 0
}


//自己定义的icon
.iconfont{
    margin-right: 10px;
}

//伸缩菜单样式宽度
.menu-con-open {
    width: 200px;
}


.avatar-warpper{
    .avatar-warpper-show{
        display: flex;
        flex-direction:column
    }
    .avatar-warpper-hide{
        display: flex;
    }  
}

.menu-bg-warpper{
    background:#26293f;
    .ant-menu-submenu-title .menu-title {
        position:relative;
        top:-2px;
    }
    .img-logo-hide{
        width:50px;
        transition:all .1s ease-in;
    }
    .img-logo{
        width:84px;
        transition:all .1s ease-in;
    }
    .menu-bg-logo{
        width: 100%;
        height:70px;
        line-height:70px;
        background: #1671D5;
        color:white;
        font-weight: bold;
        font-size:14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .iconfont{
        font-size:18px;
    }
    .menu-home{
        font-size:20px;
        position: relative;
        top: 2px
    }
}
.menu-bg{
    background: #1b1d2d;
    width:100%;
    height:36px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: #ADAEBB;
    font-size:18px;
    cursor: pointer;
}
.menu-control-show {
    width: 15px;
    height: 15px;
    cursor: pointer;
    line-height: 13px;
}

.menu-control-hide {
    width: 15px;
    height: 15px;
    cursor: pointer;
    line-height: 13px;
}

.rotateMenuIn{
     animation: MenuIn .2s linear forwards
}

.rotateMenuOut{
    animation: MenuOut .2s linear forwards
}

@keyframes MenuOut{
    0%{
        transform:rotateZ(0deg)
    }
    100%{
        transform:rotateZ(90deg)
    }
}
@-webkit-keyframes MenuOut{
    0%{
        transform:rotateZ(0deg)
    }
    100%{
        transform:rotateZ(90deg)
    }
}
@keyframes MenuIn{
    0%{
        transform:rotateZ(90deg)
    }
    100%{
        transform:rotateZ(0deg)
    }
}
@-webkit-keyframes  MenuIn{
    0%{
        transform:rotateZ(90deg)
    }
    100%{
        transform:rotateZ(0deg)
    }
}


.logger {
    float : right;
    color : #ffffff;
    width:100px;
    height:50px;
    line-height: 50px;
    font-size:14px;
}