.app-menu-con {
    background:#6c6980;
    width: 64px;
    .ant-menu-vertical {
        border-right: none;
    }
    .ant-menu.ant-menu-dark .ant-menu-item-selected{
        background-color: #545468
    }
    
}

.menu-con-open {
    width: 200px;
}