.assignment-container{
    background: white;
    padding:0 15px;
    box-sizing: border-box;
    display: flex;
    height:100%;
    .container-header{
        width:100%;
        .container-header-show{
            height:54px;
            .top-more{
                height:100%;
            }
            .ant-form-item{
                margin-right:0;
                width: 100%;
            }
            .ant-form-item > div{
                width: 95%;
            }
            .ant-input{
                height:28px;
            }
        }
        
    }
}