body {
    background-color: #e5e5e5;
    overflow: hidden;
    font-family:"Microsoft YaHei","Arial","黑体","宋体",sans-serif;
}
.full-height {
    position: relative;
    height: 100%;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected{
    background: #1671D5
}

.app-container {
    display: flex;
    margin: auto;
    flex-direction: row;
    max-width: 100%;
    transition: max-width .35s ease;
    &.boxed-layout {
        max-width: 1200px;
        box-shadow: 0 0 1px rgba(0,0,0,.2);
    }
}

.app-body {
    display: flex;
    flex-direction: column;
    flex: auto;
    background: #f2f2f3
}

.app-header {
    flex: 0 0 70px;
    background: #ffffff;
}

.app-content {
    flex: auto;
    height:100%;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto
}

.app-talk{
    width:50px;
    height:50px;
    background:#6c6980;
    color:white;
    position: fixed;
    z-index: 20;
    right:0;
    font-size:20px;
    bottom:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
//model
.ant-modal-content .ant-modal-header{
    background: #FAFAFA;
    height:50px;
 }

 .ant-modal-content .ant-form-item-required:before{
     color:#333
 }
/*model头部样式*/
.ant-modal-header{
    background: #FAFAFA;
    height:50px;
 }

 .ant-form-item-required:before{
     color:#333
 }

/* model内高度 */
.model-height{
    max-height: 480px;
    overflow-y: auto;
    margin:-16px;
    padding:16px;
}

/*model内侧参照样式*/
.add-inset-model{
    margin:-16px;
    padding:16px;
    height:380px;
    overflow:auto
}

/* ant.design  表格样式 */
.ant-table .ant-table-thead > tr, .ant-table .ant-table-tbody > tr:nth-child(even){
    background: #F3FAFF;
}
.ant-table .ant-table-thead > tr > th{
    color:#666
}

.ant-table .ant-table table{
    border-top: 1px solid #3CA4FB;
    border-bottom: 1px solid #ddd;
}

.ant-table{
    color:#999;
}
.ant-table .ant-table-thead > tr > th, .ant-table .ant-table-tbody > tr > td{
    border:none
}

.ant-table .ant-tree.ant-tree-show-line li:not(:last-child):before{
    border-left:1px solid #ECECEC
}

/* ant.design  菜单样式*/
.ant-menu-inline-collapsed > .ant-menu-item .anticon + span, .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .iconfont + span{
    opacity: 0
}
.ant-menu-item .anticon + span, .ant-menu-submenu-title .iconfont + span{
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-menu-inline-collapsed > .ant-menu-item > .iconfont + span{
        opacity: 0
}
.ant-menu-inline-collapsed > .ant-menu-item .anticon, .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .anticon{
    font-size: 20px;
    position: relative;
    left:-1px;
}

//tree
#tree-icon .ant-tree.ant-tree-show-line li span.ant-tree-switcher.ant-tree-switcher-noop:after{
    content: "\E621";
    color:#3CA4FB 
}

#tree-icon .ant-tree.ant-tree-show-line li span.ant-tree-switcher.ant-tree-switcher_open:after{
    content: "\E6C1";
    color:#3CA4FB 
}

#tree-icon .ant-tree.ant-tree-show-line li span.ant-tree-switcher.ant-tree-switcher_close:after{
    content: "\E6C0";
    color:#3CA4FB 
}

//折叠菜单
.ant-collapse > .ant-collapse-item > .ant-collapse-header{
    background: #F2F2F2;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow:before{
    content: '\E604'
}
.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content{
    border-top:none;
}
.ant-collapse > .ant-collapse-item{
    border-bottom:none
}


