body {
  background-color: #e5e5e5;
  overflow: hidden;
}
.full-height {
  height: 100%;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background: #1671D5;
}
.app-container {
  display: flex;
  margin: auto;
  flex-direction: row;
  max-width: 100%;
  transition: max-width 0.35s ease;
}
.app-container.boxed-layout {
  max-width: 1200px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
.app-body {
  display: flex;
  flex-direction: column;
  flex: auto;
}
.app-header {
  flex: 0 0 50px;
  height: 50px;
  background: #ffffff;
}
.app-content {
  flex: auto;
  height: 100%;
  margin: 10px;
  background: white;
  overflow: hidden;
  overflow-y: auto;
}
.app-talk {
  width: 50px;
  height: 50px;
  background: #6c6980;
  color: white;
  position: fixed;
  z-index: 20;
  right: 0;
  font-size: 20px;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
