.list-obj-def-card {
  width: 320px;
  height: 117px;
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 2px;
  flex-direction: column;
  position: relative;
}
.list-obj-def-card .ant-checkbox-wrapper {
  position: absolute;
  top: -1px;
  left: -1px;
}
.list-obj-def-card .ant-checkbox-wrapper .ant-checkbox {
  vertical-align: top;
}
.list-obj-def-card .card-header {
  position: relative;
  height: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
}
.list-obj-def-card .card-header .card-header-name {
  position: relative;
  font-weight: bold;
  font-size: 14px;
  padding-left: 15px;
  color: #333;
  flex-grow: 1;
}
.list-obj-def-card .card-header .card-header-name .card-header-default-father {
  position: relative;
}
.list-obj-def-card .card-header .card-header-name .card-header-default-father .card-default {
  position: absolute;
  right: -14px;
  top: -9px;
  width: 14px;
  height: 14px;
  line-height: 14px;
}
.list-obj-def-card .card-header .card-header-name .card-header-default-father .card-default .icon-zhuyaolianxiren {
  width: 100%;
  height: 100%;
  color: #00A854;
  font-size: 13px;
}
.list-obj-def-card .card-header .card-header-btn {
  width: 60px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 30px;
  margin-right: 10px;
  cursor: pointer;
}
.list-obj-def-card .card-body {
  display: flex;
  border-top: 1px solid #eee;
  flex-grow: 1;
}
.list-obj-def-card .card-body .card-body-con {
  flex-grow: 1;
}
.list-obj-def-card .card-body .card-body-con .card-body-con-item {
  padding: 10px;
  height: 50%;
  display: flex;
  align-items: center;
}
.list-obj-def-card .card-body .card-body-con .card-body-con-item .card-body-con-name {
  width: 84px;
  height: 17px;
  line-height: 17px;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}
.list-obj-def-card .card-body .card-body-con .card-body-con-item .card-body-con-text {
  line-height: 100%;
  width: 109px;
  color: #999999;
  padding-left: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-obj-def-card .card-body .card-body-con .card-body-con-item .card-body-con-text span {
  display: inline-block;
  margin-right: 4px;
}
.list-obj-def-card .card-body .card-body-btn {
  width: 80px;
  display: flex;
  flex-direction: column;
}
.list-obj-def-card .card-body .card-body-btn > div {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background: #f2f2f2;
}
.list-obj-def-card .card-body .card-body-btn > div i {
  display: inline-block;
}
.list-obj-def-card .card-body .card-body-btn .card-body-btn-edit {
  border-top: 1px solid #ffffff;
}
/* .list-obj-def-card {
    width: 322px;
    height: 185px;
    display: flex;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    background: #ffffff;
    border-radius: 2px;
    flex-direction: column;
    position: relative;
    .ant-checkbox-wrapper {
        position: absolute;
        top: -1px;
        right: -1px;
        .ant-checkbox {
            vertical-align: top;
        }
    }
    .card-header {
        height: 68px;
        line-height: 68px;
        display: flex;
        .card-header-name {
            font-weight: bold;
            font-size: 14px;
            padding-left: 10px;
            color: #333;
            flex-grow: 1;
        }
        .card-header-btn {
            width: 100px;
            text-align: center;
        }
    }
    .card-body {
        display: flex;
        border-top: 1px solid #eee;
        flex-grow: 1;
        .card-body-con {
            flex-grow: 1;
            .card-body-con-item {
                padding: 10px;
                display: flex;
                .card-body-con-name {
                    width: 62px;
                    font-weight: bold;
                    text-align: right;
                }
                .card-body-con-text {
                    color: #999999;
                    padding-left: 4px;
                    span {
                        display: inline-block;
                        margin-right: 4px;
                    }
                }
            }
        }
        .card-body-btn {
            width: 100px;
            display: flex;
            flex-direction: column;
            &>div {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-grow: 1;
                background: #f2f2f2;
                i {
                    display: inline-block;
                }
            }
            .card-body-btn-edit {
                border-top: 1px solid #ffffff;
            }
        }
    }
} */
