.business-obj-def-warpper {
    padding: 10px;
    background: #ffffff;
    box-sizing: border-box;
    min-height: 100%;
    .business-obj-warpper {
        .head-panel {
            padding: 10px 0;
        }
        .card-con {
            display: flex;
            flex-wrap: wrap;
        }
    }
    .field-setting-warpper {
        min-height: 100%;
        .field-setting-title {
            margin: 10px 0;
            .title {
                font-size: 14px;
            }
        }
        .card-con {
            display: flex;
            flex-wrap: wrap;
        }
    }
    .tpl-setting-warpper {
        .tpl-setting-title {
            margin: 10px 0;
            .title {
                font-size: 14px;
            }
        }
        .card-con {
            min-height: 100px;
            display: flex;
            flex-wrap: wrap;
        }
    }
    .list-config-warpper {
        .list-config-title {
            margin: 10px 0;
            .title {
                font-size: 14px;
            }
        }
        .card-con {
            min-height: 100px;
            display: flex;
            flex-wrap: wrap;
        }
    }
    .text-align-right {
        text-align: right;
    }
}