.business-obj-def-warpper {
    position:relative;
    padding: 10px;
    background: #ffffff;
    box-sizing: border-box;
    min-height: 100%;
    .ifram-wraper{
        width:100%;
        height:100%;
        .ifram {
            width: 100%;
            height: 100%;
            position: absolute;
            left:0;
            top:0;
            border:1px solid rgb(217,217,217);
            z-index: 2; 
            body {
                /* overflow: scroll; */
                overflow-x : hidden;  
                background-color:red;
            }        
        }
        .closed {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 20px;
            z-index: 3;
            cursor: pointer;
        }
    }
    .business-obj-warpper {
        .head-panel {
            padding: 10px 0;
        }
        .card-con {
            display: flex;
            flex-wrap: wrap;
        }
    }
    .field-setting-warpper {
        min-height: 100%;
        .field-setting-title {
            margin: 10px 0;
            .title {
                font-size: 14px;
            }
        }
        .card-con {
            display: flex;
            flex-wrap: wrap;
        }
    }
    .tpl-setting-warpper {
        .tpl-setting-title {
            margin: 10px 0;
            .title {
                font-size: 14px;
            }
        }
        .card-con {
            min-height: 100px;
            display: flex;
            flex-wrap: wrap;
        }
    }
    .list-config-warpper {
        .list-config-title {
            margin: 10px 0;
            .title {
                font-size: 14px;
            }
        }
        .card-con {
            min-height: 100px;
            display: flex;
            flex-wrap: wrap;
        }
    }
    .text-align-right {
        text-align: right;
    }
}