.speech-wrapper{
    width: 1000px;
    margin: 50px auto;
    .speech-header{
        width: 100%;
        text-align: center;
        margin: 10px auto;
        font-size: 25px;
        font-weight: 400;
    }
    .speech-tabel-recoverd{
        margin-top:10px;
    }
}
.speech-card-height{
    height: 300px;
    overflow-y: auto;
    padding: 16px;
}